In [93]:
#Dependencies
import requests
import json
import pandas as pd

target_url = "https://marketcheck-prod.apigee.net/v1/popular/cars?api_key=3XhPmWArI3SYYbfFZpGuUFLEtVgEZvEn&state=GA&car_type=new"

In [94]:
car_response = requests.get(f"{target_url}").json()

In [95]:
type(car_response)

AttributeError: 'list' object has no attribute 'info'

In [96]:
print(car_response[0])

{'inventory_type': 'new', 'count': 1134, 'make': 'Ford', 'model': 'F-150', 'price_stats': {'geometric_mean': 42347, 'listings_count': 1046, 'min': 22184, 'median': 41563, 'population_standard_deviation': 10953, 'variance': 119966034, 'max': 109515, 'mean': 43600, 'trimmed_mean': 42495, 'standard_deviation': 10953, 'iqr': 13025}, 'miles_stats': {'geometric_mean': 17, 'listings_count': 142, 'min': 1, 'median': 10, 'population_standard_deviation': 1145, 'variance': 1311461, 'max': 7506, 'mean': 457, 'trimmed_mean': 162, 'standard_deviation': 1145, 'iqr': 28}, 'dom_stats': {'geometric_mean': 51, 'listings_count': 1134, 'min': 1, 'median': 64, 'population_standard_deviation': 97, 'variance': 9368, 'max': 703, 'mean': 96, 'trimmed_mean': 81, 'standard_deviation': 97, 'iqr': 116}}

In [71]:
print(json.dumps(car_response[0],indent=3))

{
   "inventory_type": "new",
   "count": 1134,
   "make": "Ford",
   "model": "F-150",
   "price_stats": {
      "geometric_mean": 42347,
      "listings_count": 1046,
      "min": 22184,
      "median": 41563,
      "population_standard_deviation": 10953,
      "variance": 119966034,
      "max": 109515,
      "mean": 43600,
      "trimmed_mean": 42495,
      "standard_deviation": 10953,
      "iqr": 13025
   },
   "miles_stats": {
      "geometric_mean": 17,
      "listings_count": 142,
      "min": 1,
      "median": 10,
      "population_standard_deviation": 1145,
      "variance": 1311461,
      "max": 7506,
      "mean": 457,
      "trimmed_mean": 162,
      "standard_deviation": 1145,
      "iqr": 28
   },
   "dom_stats": {
      "geometric_mean": 51,
      "listings_count": 1134,
      "min": 1,
      "median": 64,
      "population_standard_deviation": 97,
      "variance": 9368,
      "max": 703,
      "mean": 96,
      "trimmed_mean": 81,
      "standard_deviation": 97,
      "iqr": 116
   }
}

In [98]:
#List of Car Make 
car_makeModel = []

#List of Car Make Counts
car_Sales = []

In [99]:
for car in car_response:
    car_makeModel.append(car["make"]+"-"+car["model"])
    car_Sales.append(car["count"])
    
print(car_makeModel)
print(car_Sales)


#type(car_makeModel)
#type(car_Sales)

['Ford-F-150', 'Chevrolet-Silverado', 'Toyota-Camry', 'Ram-1500', 'Toyota-Corolla', 'Toyota-RAV4', 'GMC-Sierra', 'Toyota-Tacoma', 'Toyota-Highlander', 'Ford-Explorer', 'Chevrolet-Silverado 1500', 'Honda-CR-V', 'Chevrolet-Colorado', 'Chevrolet-Equinox', 'Jeep-Cherokee', 'Jeep-Renegade', 'Nissan-Altima', 'Jeep-Wrangler', 'Honda-Accord', 'Nissan-Rogue', 'Jeep-Grand Cherokee', 'Chevrolet-Blazer', 'Chevrolet-Traverse', 'Lexus-RX', 'Kia-Sorento', 'Ford-Superduty', 'Buick-Encore', 'Ford-Ranger', 'Ram-2500', 'Kia-Soul', 'Dodge-Journey', 'Ford-Escape', 'Chevrolet-Tahoe', 'Volkswagen-Jetta', 'Kia-Forte', 'Honda-Civic', 'Hyundai-Elantra', 'GMC-Acadia', 'Volkswagen-Atlas', 'Chevrolet-Malibu', 'GMC-Sierra 1500', 'Toyota-4-Runner', 'Honda-Pilot', 'Nissan-Versa', 'Kia-Sportage', 'Toyota-Tundra', 'Ford-Edge', 'Kia-Optima', 'Jeep-Compass', 'Dodge-Challenger']
[1134, 799, 652, 601, 532, 490, 459, 372, 323, 319, 318, 305, 283, 282, 272, 271, 270, 270, 262, 261, 255, 218, 213, 210, 210, 209, 204, 198, 193, 192, 186, 186, 184, 178, 175, 171, 170, 169, 167, 163, 162, 160, 159, 153, 151, 149, 149, 144, 144, 142]

In [114]:
carSales_df = pd.DataFrame({
                            "MM": car_makeModel, 
                            "Sales": car_Sales})

In [115]:
carSales_df.head()

                    MM  Sales
0           Ford-F-150   1134
1  Chevrolet-Silverado    799
2         Toyota-Camry    652
3             Ram-1500    601
4       Toyota-Corolla    532